* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 15px;
    font-weight: bold;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;

}
header {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

.weather {
    margin: 1rem 1rem 0 1rem;
    text-align: center;
    background: rgba(0, 170, 255, .3);
    color: white;
    font-size: 1rem;
    border-radius: 1rem;
    text-shadow: 0 0 5px #000,
    0 0 2px #000,
    0 0 1px #000;
}
.city {
    padding: 0.2rem 0;
    margin: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.err {
    display: none;
    margin: 0.5rem;
}
.temperature {
    font-size: 1.5rem;
}

.weather-description {
    margin: 0.5rem 0.2rem 0.2rem 0.2rem;

}
.weather-info {

}
.weather-icon {
    font-size: 1.6rem;
}
.weather-icon:hover {
    animation: shake 1.5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(1px, -2px) rotate(-1deg); }
    30% { transform: translate(1px, 2px) rotate(0deg); }
    50% { transform: translate(1px, 0) rotate(-1deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
}

.info {
    display: flex;
    justify-content: space-between;
}
.info div {
    margin: 0.2rem;
}
main {
    flex: 1 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
    color:white;
    text-shadow: 0 0 5px #000,
    0 0 2px #000,
    0 0 1px #000;

}
.content_focus {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
#time {
    font-size: 8rem;
}
#day {
    font-size: 4rem;
}
.greeting {
    font-size: 2rem;
    margin: 3rem 0;
}

#name, #focus {
    display: inline-block;
    min-width: 10rem;
    white-space: nowrap;
}

.btn {
    width: 60px;
    height: 60px;
    color: white;
    font-weight: bold;
    margin: 1rem 1rem 0 1rem;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 -1px 1px #a81808;
    user-select: none;
    outline: none;
    background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#2c347a, #4c1d6e, #2c347a);
    background-size: 10% 100%, auto;
    background-position: 50% 50%;
    box-shadow: inset #630e9c 0 -1px 1px, inset 0 1px 1px #ffbf00, #7a0c33 0 0 0 1px, #000 0 10px 15px -10px;
    transition: 0.2s;
}
.btn:hover {
    background-size: 140% 100%, auto;
}
.btn:active {
    top: 1px;
    color: #ffdead;
    box-shadow: inset #630e9c 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}

footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}
.quote {
    background: rgba(251, 251, 251, .5);
    border: none;
    border-radius: 10px;
    width: 41rem;
    height: 5rem;
    border:solid #4a4a4a;
    border-width:3px 0;
}

blockquote {
    display: inline-block;
    width: 41rem;
    padding:1rem 1rem 0 1rem;
    font-size:1.1rem;
}
blockquote p {
    color: #000;
}
blockquote cite {
    font-size: 0.9rem;
}
.quoteBtn {
    float: right;
}
.button {
    position: relative;
    border: 2px solid #4a4a4a;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.7rem;
    color: #272727;
    text-decoration: none;
    text-transform: uppercase;
    width: 5rem;
    height: 2rem;
    display: block;
    text-align: center;
    margin: auto;
    font-family: Arial, sans-serif;
    transition: .5s;
    overflow: hidden;
    z-index: 1;
}
.button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #5034bf;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -2;
}
.button::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #5034bf;
    top: 0;
    left: -100%;
    opacity: 1;
    transition-delay: .5s;
    z-index: -1;
}
.button:hover {
    color: #fff;
}
.button:hover::before,
.button:hover::after {
    left: 0;
}


@media screen and (max-width: 700px) {
    html {
       font-size: 12px;
   }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 7px;
    }
}

.visibility {
    display: block;
}
.hidden {
    display: none;
}

